@model List<CommentProject.EntityLayer.Concrete.Title>

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        @foreach (var x in Model)
        {
            <li class="nav-item">
                <a href="/Default/Index/@x.TitleID" class="nav-link">

                    <p>
                        @x.TitleName
                    </p>
                </a>
            </li>
        }
    </ul>
</nav>