<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="allfile"  xsi:type="File"
				fileName="c:\Demologs\nlog-all-${shortdate}.log"/>

	</targets>
	<rules>
		<!--<logger name="*" levels="Info,Error,Debug,Warn,Trace,Fail" writeTo="console" />-->
		<logger name="*" minlevel="Trace" writeTo="allfile" />

	</rules>
</nlog>